Repository IAreKyleW00t/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/helm, documentation

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - .gitignore
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "charts/*/templates/*"
      - all-globs-to-all-files:
          - "!charts/*/templates/NOTES.txt"
area/helm:
  - changed-files:
      - any-glob-to-any-file:
          - "charts/*/*"
          - "charts/*/charts/**/*"
          - "charts/*/crds/**/*"
          - "charts/*/templates/NOTES.txt"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - LICENSE

feat(external-dns): Adding external-dns Chart
  charts/external-dns/Chart.yaml
  charts/external-dns/templates/NOTES.txt
  charts/external-dns/templates/_helpers.tpl
  charts/external-dns/templates/cluster-role-binding.yaml
  charts/external-dns/templates/cluster-role.yaml
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/templates/secret.yaml
  charts/external-dns/templates/service-account.yaml
  charts/external-dns/values.yaml
Labels: area/helm

feat: Initial pages commit
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

fix(renovate): Removing global options
  .github/renovate.json
Labels: area/github

docs: Updating README
  README.md
Labels: documentation

fix: Bumping Chart version
  charts/external-dns/Chart.yaml
Labels: area/helm

Update index.yaml
  index.yaml
Labels: none

fix: Bumping Chart versions automatically
  .github/renovate.json
Labels: area/github

docs: Updating README
  README.md
Labels: documentation
